<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
	<link rel="stylesheet"
		href="https://github.githubassets.com/assets/gist-embed-fade154c2b3e75984195a048041ab52d.css" />
	<link rel="stylesheet" type="text/css"
		href="https://cdn.jsdelivr.net/npm/instantsearch.js/dist/instantsearch.min.css" />
	<script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.5.1/dist/algoliasearch-lite.umd.js"
		integrity="sha256-EXPXz4W6pQgfYY3yTpnDa3OH8/EPn16ciVsPQ/ypsjk=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.8.3/dist/instantsearch.production.min.js"
		integrity="sha256-LAGhRRdtVoD6RLo2qDQsU2mp+XVSciKRC8XPOBWmofM=" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>


</head>

<body class="container">
	<br />
	<h3>OBS 자료 만들기 (v. {{ version_str }} ) </h3>
	<form method="GET" action="/download_obs" class="row">
		<label for="date_type" class="col-sm-2 col-form-label">날짜 & 예배</label>
		<div class="col-sm-10">
			<input id="date_type" type="text" name="date_type" class="form-control" size="30"
				placeholder="2022년 2월 2일 주일예배" />
		</div>
		<label for="sermon_title" class="col-sm-2 col-form-label">설교 제목</label>
		<div class="col-sm-10">
			<input id="sermon_title" type="text" name="sermon_title" class="form-control" size="30"
				placeholder="설교 제목입니다" />
		</div>
		<label for="preacher" class="col-sm-2 col-form-label">설교자</label>
		<div class="col-sm-10">
			<input id="preacher" type="text" name="preacher" class="form-control" size="30" placeholder="이찬우 목사" />
		</div>
		<label for="main_passage" class="col-sm-2 col-form-label">본문 구절</label>
		<div class="col-sm-10">
			<input id="main_passage" type="text" class="form-control" name="main_passage" size="30"
				placeholder="창세기 1:1-5" />
		</div>
		<label for="quotes" class="col-sm-2 col-form-label">인용 구절</label>
		<div class="col-sm-10">
			<input id="quotes" type="text" class="form-control" name="quotes" size="30"
				placeholder="창 2:2-3, 롬 11:36-12:2, 요한계시록 22:21 (없을 시 공백)" />
		</div>
		<div class="d-grid gap-2 d-md-flex justify-content-md-end">
			<button class="btn btn-primary" type="submit" name="action">본문 PPT</button>
			<button class="btn btn-primary" type="submit" name="action">자막 PPT</button>
		</div>
		<hr />
	</form>

	<h3>본당 PPT 만들기 (개발 중)</h3>
	<form method="GET" action="/download_jubo" class="row" enctype='multipart/form-data'>
		<p>
			'Choose File'로 주보 파일을 선택한 후, 아래 '본당 PPT' 버튼을 눌러주세요
		</p>
		<div class="col-5">
			<label> 찬양 1 </label>
			<textarea id="" class="form-control" rows="10"></textarea>
		</div>
		<div class="col-5">
			<label> 찬양 2 </label>
			<textarea id="" class="form-control" rows="10"></textarea>
		</div>
		<div class="col-5">
			<label> 찬양 3 </label>
			<textarea id="" class="form-control" rows="10"></textarea>
		</div>
		<div class="col-5">
			<label> 찬양 4 </label>
			<textarea id="" class="form-control" rows="10"></textarea>
		</div>
		<div class="col-2">
			<label> 주보 업로드 (워드 파일): </label>
			<input type="file" id="choose_file" name="filename" class="form-control" /><br />
		</div>
		<div class="d-grid gap-2 d-md-flex justify-content-md-end">
			<button class="btn btn-primary" type="submit" name="action">본당 PPT</button>
		</div>
	</form>
	<hr />

	<h3>찬송가 PPT</h3>
	<form method="GET" action="/download_hymn" class="row">
		<label for="quotes" name="hymn_no" class="col-sm-2 col-form-label">찬송가 장 수</label>
		<div class="col-sm-10">
			<input id="quotes" type="text" class="form-control" name="hymn_no" size="30" placeholder="123,353" />
		</div>
		<div class="d-grid gap-2 d-md-flex justify-content-md-end">
			<button class="btn btn-primary" type="submit" name="action">찬송가 PPT</button>
		</div>
	</form>
	<hr />

	{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
	{% for category, message in messages %}
	<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
		<span>{{ message }}</span>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	{% endfor %}
	{% endif %}
	{% endwith %}

</body>

</html>
