<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="https://github.githubassets.com/assets/gist-embed-fade154c2b3e75984195a048041ab52d.css">
  <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/instantsearch.js/dist/instantsearch.min.css">
  <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.5.1/dist/algoliasearch-lite.umd.js"
    integrity="sha256-EXPXz4W6pQgfYY3yTpnDa3OH8/EPn16ciVsPQ/ypsjk=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.8.3/dist/instantsearch.production.min.js"
    integrity="sha256-LAGhRRdtVoD6RLo2qDQsU2mp+XVSciKRC8XPOBWmofM=" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body class="vsc-initialized">
  <p>Bible to PPTX</p>

  <form method="POST" action="/download">
    <div class="bible_inputs">
      <label> 날짜 & 예배: </label>
      <input type="text" name="date_type" value="2021년 2월 7일 주일예배"><br>
      <label> 설교 제목: </label>
      <input type="text" name="sermon_title" value="Restart"><br>
      <label> 설교자: </label>
      <input type="text" name="preacher" value="이찬우 목사"><br>
      <label> 본문 구절: </label>
      <input type="text" name="main_passage" value="시편 113:1-9"><br>
      <label> 인용 구절: </label>
      <input type="text" name="quotes"><br>
    </div>
    <input type="submit" name="action" value="Large PPT">
    <input type="submit" name="action" value="Verse PPT">
  </form>
</body>

</html>